<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script type="text/javascript" th:src="@{/js/main.js}" async></script>
    <base target="_blank">

</head>
<body>
<header class="header">
    <div class="header-top">

        <div class="m-container">
            <p class="logo">Reader Club</p>
            <div id="catalog">
                <ul class="catalog">
                    <a href="#"><li class="active">Discover</li></a>
                    <a href="#"><li>My favorite</li></a>
                    <a href="#"><li>Download App</li></a>
                </ul>
            </div>
            <!--Searching-->

            <div class="search" id="search">
                <input type="text" id="sKeyword" placeholder="search">
                <img th:src="@{/pics/home_images/glass.png}" alt="">
                <input type="button" id="sButton" onclick="clicked()" value="    " style="width:28px; height:23px"/>
            </div>

            <!--Upload-->
            <div class="upload">
                <div class="parent">
                    <div class="upload-button">
                        <a th:href="@{'/details/'+${username}}" class="userDetails" th:text="'Hi, '+${username}"></a>
                    </div>
                    <div class="upload-angle">
                        <img th:src ="@{/pics/home_images/selectAngle.png}" alt = "trangle">
                    </div>
                    <!--hidden dropdown list under the upload-->
                    <ul class ="upload-select">
                        <a href="#">
                            <li>
                                <form id="upform" enctype="multipart/form-data" style="display: none;">
                                    <div class="form-group">
                                        <label for="upteainput">upload file</label>
                                        <input id="upteainput" name="upfile" type="file" class="form-control-file">
                                    </div>
                                </form>
                                <botton id="uptea" type="button" class="btn btn-primary"></botton>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="second-menu">
        <div class="m-container">
            <ul class="menu" id="left-top-menu">
                <a href="#"><li>Recommend</li></a>
                <a href="#"><li class="active">Categories</li></a>
                <a href="#"><li>Star Rearder</li></a>
            </ul>
            <!-- <ul class="login"> -->
                <!-- <a href="#"><li>登录&nbsp;|&nbsp;</li></a> -->
                <!-- <a href="#"><li>注册</li></a> -->
            </ul>
        </div>
    </div>

</header>

<div class="content">
    <div class="m-container">
        <div class="top-menu">
            <img th:src="@{/pics/home_images/listen.PNG}" alt="listen to your favorite books">
            <ul id="easy-select">
                <a href="#"><li class="active">Hot</li></a>
                <a href="#"><li>Recent</li></a>
                <a href="#"><li>Classical</li></a>
            </ul>
        </div>
        <div class="middle" id="dir">
            <a href="#">Most popular</a>
            <span></span>
        </div>
        <div class="bottom">
            <div class="left-menu">
                <ul class="menu" id="menu"></ul>
            </div>
            <div class="main-content">
                <div class="books" id="main-content">
                </div>
                <div class="page" id="page">
                    <ul></ul>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="footer-nav">
        <div class="m-container">
            <div class="nav-item">
                <p>APP Download</p>
                <a href="#">for iOS</a>
                <a href="#">for Android</a>
                <a href="#">for Windows phone</a>
            </div>
            <div class="nav-item">
                <p>Classification</p>
                <a href="#">Audio Book</a>
                <a href="#">Talk Show</a>
                <a href="#">Kids</a>
                <a href="#">Music</a>
                <a href="#">Business</a>
                <a href="#">Life</a>
            </div>
            <div class="nav-item">
                <p>Featured Products</p>
                <a href="#">Shopping Center</a>
                <a href="#">Sound creation space</a>
                <a href="#">Fun Game </a>
            </div>
            <div class="nav-item">
                <p>Follow us</p>
                <a href="#">Facebook</a>
                <a href="#">Twitter</a>
                <a href="#">Wechat</a>
            </div>
        </div>
    </div>
   
    <div class="footer-copyright m-container">
        <div class="copyright-cont">
            <a href="#">About us</a>|
            <a href="#">Contact us</a>|
            <a href="#">Our news</a>|
            <a href="#">Work with us</a>|
            <a href="#">Copyright notice</a>|
            <a href="#">Open Platform</a>|
            <a href="#">Self-discipline</a>
        </div>
    </div>
</footer>

</body>
</html>
